!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width", "initial-scale" => "1.0", "maximum-scale" => "1.0", "user-scalable" => "no"}

    %title
      Ruby on Rails developers, events, and community in Toronto
    %meta{:name => "description", :content => "Ruby on Rails developers, events, and community in Toronto"}
    %meta{:name => "og:description", :content => "Ruby on Rails developers, events, and community in Toronto"}
    %meta{:name => "og:title", :content => "Ruby on Rails in Toronto"}
    %meta{:name => "og:site_name", :content => "railstoronto.com"}

    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag  "all"
    = partial "layouts/analytics_config"

  %body{:class => page_classes}
    = yield