.wrapper
  .rubies

  #header
    .rails-logo
    %h1 Ruby on Rails in Toronto
    .toronto-skyline

  #content
    #main
      = partial "content"

    .love
      Hacked in our spare time
      %span.heart ♥
      at
      %a.okgrow{:href => "http://www.okgrow.com"} OK GROW!
      .grow-038
        GROW-037
