.train-container
  .train

.welcome
  %h1 Ruby on Rails in Toronto
  
  .background
    .main
      = partial "content"

  .love
    Hacked in our spare time
    %span.heart ♥
    at
    %a{:href => "http://www.okgrow.com"} OK GROW!
    .grow-037
      GROW-037
