---
title: Rails Toronto
---

.train-container
  .train

.welcome
  %h1 Rails Toronto
  
  .background
    .main
      = partial "markdown"

  .love
    Hacked in our spare time ♥ at
    %a{:href => "http://www.okgrow.com"} OK GROW!
